body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4{
    text-transform: capitalize;
    margin: 0;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 400;
}
h2{
    font-size: 48px;
    
}
h3{
    font-size: 36px;
}
h4{
    font-size: 26px;
}
p,span{
    margin: 0;
    color: #333;
    margin-top: 16px;
    line-height: 1.4;
}
.highlight-text{
    color: #f8b376;
}
.container{
    max-width: 1120px;
    width: 100%;
    margin: auto;
    padding: 64px 0;
}
.hero-area .text-area,
.image-area{
    width: 50%;
}
.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-button{
    background-color: #5f27cd;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 16px;
    font-weight: 500;
}


/***** Hero section style ****/

.hero-area img{
    width: 90%;
}
.hero-area .image-area{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.hero-area .welcome-title h1{
    max-width: 900px;
    font-family: 'Yeseva One';
    margin-left: 16px;
}
.hero-area .welcome-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero-area .welcome-title .title-border{
    width: 8px;
    height: 130px;
    background-color: #5f27cd;
    border-radius: 50px;
}
.hero-area .text-area p{
    max-width: 600px;
}
.hero-area .text-area a{
    margin-bottom: 32px;
    margin-top: 16px;
}
/* .hero-area .welcome-title h1{
    font-size: 60px;
    color: #f8b376;
} */


/**** My mission section style ****/

.my-mission{
    text-align: center;
}
/* .my-mission h2 span{
    color: #f8b376;
    font-size: 48px;
} */
.my-mission .mission-items{
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    align-items: center;
}
.my-mission .mission-items div{
    width: 32%;
    margin: 16px;
    border-radius: 26px;
    padding: 32px;
    text-align: left;
}
.my-mission .mission-items div img{
    width: 126px;
}
.my-mission .mission{
    background-color: #FEE4CD;
}
.my-mission .vission{
    background-color: #E8F8FB;
}
.my-mission .goals{
    background-color: hsl(260, 100%, 86%);
}

/**** My expectation section style ****/
.my-expectation{

}
.my-expectation .text-area,
.image-area{
    width: 50%;
}
.my-expectation .text-area h3{
    max-width: 300px;
}


/**** my-inspiration Section style ***/
.my-inspiration{

}
.my-inspiration .text-area,
.image-area{
    width: 50%;
}
.my-inspiration .text-area p{
    max-width: 500px;
}
.my-inspiration .text-area h3{
    max-width: 350px;
}
.my-inspiration .image-area{
    text-align: right;
}

/*** Community section style ***/
.community{
    text-align: center;
}
.community .flex-div{
    margin-top: 64px;
}
.community .text-area,
.image-area{
    width: 50%;
    text-align: left;
}



/*** Footer area style ***/
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 0;
}
footer h3{
    color: #fff;
}
footer p{
    color: #fff;
}
footer h3{
    font-family: 'Lobster';
    font-weight: 300;
}